extends layout 

block content 
    p.text-center You are playing game #{gameId} as #{player.name}
    div.text-center
        form(class="form-signin" method="POST" action=`/selectPlayerTwo?gameId=${gameId}&playerName=${player.name}`)
            if player.availableCards
                each card in player.availableCards
                    div.form-check
                        input(type="radio" name="cardName" id=`${card.name}` class="form-check-input" value=`${card.name}` required)
                        label( for=`${card.name}` class="form-check-label") #{card.name}
                        
                - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                button(class=buttonClass type="submit" id="playCard") Play Card
            else
                h1 No cards to play
    br
    if playersWaitingWithCards 
        each playerWithCard in playersWaitingWithCards 
            form(class="form-signin" method="POST" action=`/acceptUseCard?gameId=${gameId}&playerName=${player.name}&cardName=${playerWithCard.cardName}`)
                div.form-check
                    input(type="hidden" name="playerTwoName" id=`${playerWithCard.playerName}` class="form-check-input" value=`${playerWithCard.playerName}` required)                       
                - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                button(class=buttonClass id=`accept${playerWithCard.cardName}Card${playerWithCard.playerName}` type="submit") Acept Use Card #{playerWithCard.cardName} With #{playerWithCard.playerName}
    br
    form(class="form-signin" method="POST" action=`/play`)
            input(type="hidden" name="gameId" id="gameId" class="form-control" value=`${gameId}` required)
            input(type="hidden" name="playerName" id="playerName" class="form-control" value=`${player.name}` required)
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass type="submit") Refresh
    br
    - var buttonClass=['btn', 'btn-lg', 'btn-secondary', 'btn-block'];
    a(class=buttonClass id='guess' href=`/setPlayersGuess?gameId=${gameId}&playerName=${player.name}`) Set your guess for the game
