extends layout 

block content 
    p.text-center You are playing game #{gameId} as #{playerName}
    if resultText
        h3.text-center #{resultText}
        form(class="form-signin" method="POST" action=`/play`)
            input(type="hidden" name="gameId" id="gameId" class="form-control" value=`${gameId}` required)
            input(type="hidden" name="playerName" id="playerName" class="form-control" value=`${playerName}` required)
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass id="back" type="submit") Back to Game
    else
        p.text-center Waiting for #{playerTwoName} to accept using #{cardName} card...
        form(class="form-signin" method="POST" action=`/useCard?gameId=${gameId}&playerName=${playerName}&cardName=${cardName}`)
            input(type="hidden" name="playerTwoName" id="playerTwoName" class="form-control" value=`${playerTwoName}` required)
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass id="refresh" type="submit") Refresh
